/* td {
    padding-left: 7.5px;
    padding-right: 7.5px;
    background-color: red;
    height: 40px;
    border: 1px solid green;
    width: 25%;
  }
  
  td:first-child {
    padding-left: 0;
  }
  
  td:last-child {
    padding-right: 0;
  } */
  

  
  